<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Tournaments</title>
</head>
<body class="w3-container">
    {% if session.get('role') == 'coordinator' %}
        {% include 'navbar_coordinator.html' %}
    {% else %}
        {% include 'navbar_user.html' %}
    {% endif %}
    <h1>Tournaments</h1>
    <ul>
        {% for tournament in tournaments %}
            <li>
                <a href="{{ url_for('tournament_details', tournament_id=tournament[0]) }}">
                    {{ tournament[1] }} - Starts at: {{ tournament[2] | unixtimestampformat }} - Ends at: {{ tournament[3] | unixtimestampformat }}
                </a>
            </li>

        {% endfor %}
    </ul>
</body>
</html>
