<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Friend's Account</title>
</head>
<body class="w3-container">
    {% if session.get('role') == 'coordinator' %}
        {% include 'navbar_coordinator.html' %}
    {% elif session.get('role') == 'user' %}
        {% include 'navbar_user.html' %}
    {% elif session.get('role') == 'sponsor' %}
        {% include 'navbar_sponsor.html' %}
    {% endif %}

    <h1>Friend's Account Page</h1>
    <h2>Username: {{ friend_info[1] }}</h2>
    <h2>User ID: {{ friend_info[0] }}</h2>
    <h2>Wins: {{ friend_info[2] }}</h2>

    <br><br>

    <h2>Favorite Games</h2>
    <div class="w3-container">
        {% if favorite_games %}
            {% for game in favorite_games %}
                <div class="game-container">
                    <div class="game-info">
                        <h3>{{ game['Name'] }}</h3>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>This friend has no favorite games yet.</p>
        {% endif %}
    </div>
</body>
</html>

