<nav class="w3-bar w3-teal">
    <a href="{{ url_for('home') }}" class="w3-bar-item w3-button">Home</a>
    <a href="{{ url_for('display_tournaments') }}" class="w3-bar-item w3-button">Tournaments</a>
    <a href="{{ url_for('display_events') }}" class="w3-bar-item w3-button">Events</a>
    <a href="{{ url_for('create_event') }}" class="w3-bar-item w3-button">Create Event</a>

    <a href="{{ url_for('search_games') }}" class="w3-bar-item w3-button">Search Games</a>  <!-- Add this link -->
    <a href="{{ url_for('notifications') }}" class="w3-bar-item w3-button">Notifications</a>
    <a href="{{ url_for('account') }}" class="w3-bar-item w3-button">Account</a>
    <a href="{{ url_for('friends_list') }}" class="w3-bar-item w3-button">Friends</a>
</nav>

